<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <h1><%=roomName%></h1>
    <div class="discussContainer">
        <%room.map(post =>{%>
            <%if(!hasAccount){post.username = "Sign-in to see author"}%>
            <div class="comment">
                <p class="username"><%=post.username%></p>
                <p class="time"><%=post.time%></p>
                <p class="content"><%=post.content%></p>
            </div>
        <%})%>
    </div>
    
    <%if(hasAccount){%>
        <form action="/room" method="post">
            <input type="text" name="room" value="<%= roomName %>"> <!-- add quotes to the value for the entire string to attach -->
            <input type="text" name="reply" value="false" style='display:none'>
            <label for="content">Post a Comment to this Thread</label>
            <textarea name="content" id="content" placeholder="Post your thoughts"></textarea>
            <button class="submitContent">Post</button>
        </form>

    <%}%>
</body>
</html>